body {
	font-family: 'PT-Sans', sans-serif;
    color: #4f4c4b;
	background-color:#FFFFFF;
}
	
#wrapper{
	width: 100%; 
	margin: 0 auto; 
}

#logo{
    background-color: #4f4c4b;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header{
	background-color: #4f4c4b;
	color: #f9f9f4;
	padding: 0px 10px;
	font-family: 'Alfa Slab One', cursive;
    font-size: 80px;
    font-kerning: 2px; 
	text-align: center;
}

#container{
	background-color: #f9f9f4;
	overflow: auto; 
	width: 100%
}

#c-content{
	width: 76%;
	padding: 2%;
    color: #6e6e6e
	background-color: #c5c5c5;
    font-family: 'PT Sans', sans-serif;
    font-size: 95%
}

footer{
	background-color: #4f4c4b;
	color:#f9f9f4;
	padding: 10px;
}

h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    color: #4f4c4b;
}

#board {
    width: 20%;
    margin-left: 20px;
}

#equipment {
	vertical-align: middle;
	text-align: center;
}