@import url("main.css");
#wrapper{
	width: 100%; 
	margin: 0 auto; 	
}

#c-content{
	width: 50%; 
	margin: 0 auto; 	
}

#mainnav{
	width: 100%; 
	background-color: #4f4c4b;
}

#navbar{
	width: 50%; 
	display: block;
	margin: auto; 
	text-align: center;
}

#mainnav ul {
	display: inline-block;
    list-style-type: none;
    margin: auto; 
    padding: 0;
    overflow: hidden;
    background-color: #4f4c4b;
}

#mainnav li {
	display: inline-block;
	margin: auto; 
	text-align: left;
}

#mainnav li a {
    color: #f9f9f4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	display: inline-block;
}

#mainnav li a:hover {
    background-color: black;
}

#boxed-title {
    font-family: 'Alfa Slab One', cursive;
    color: #4f4c4b;
    font-size: 25px;
    letter-spacing: 1px;
    background-color: #f9f9f4;
    margin-left: 0px;
    margin-top: 5px;
}

#left, #right {
    float: left;
    width: 50%;
}

#leftcolumn {
    float: left;
    width: 33%;
}

#rightcolumn{
	float: right;
	width: 33%;
}

#middlecolumn {
	display: inline-block;
	width: 33%;
}